<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Quote Gallery</title>
</head>
<body>
  <%- include("partials/header.ejs") %>
  <h1 class="intro">Welcome to Sriram's Quote Gallery!</h1>
  <main class="container mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote1.jfif" class="card-img-top" alt="Quote 1">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote2.jfif" class="card-img-top" alt="Quote 2">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote3.jfif" class="card-img-top" alt="Quote 3">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote4.jfif" class="card-img-top" alt="Quote 4">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote5.jfif" class="card-img-top" alt="Quote 4">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote6.jfif" class="card-img-top" alt="Quote 4">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote7.jfif" class="card-img-top" alt="Quote 4">
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="/images/quote8.jfif" class="card-img-top" alt="Quote 4">
        </div>
      </div>
      <!-- Add more quote images in the same way -->
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
